<div class="container">
    <div class="row" style="margin-top:113px;">
        <div class="col-6">
            <div class="card" style="width: 39rem;">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="./../../../assets/avengers-endgame-iron-man-infinity-stones-uhdpaper.com-4K-161.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="./../../../assets/spectacular-iron-man-4k_1541968331.jpg" class="d-block w-100" alt="...">
                      </div>
                      
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-6">
            <mat-tab-group mat-stretch-tabs >
                <mat-tab label="Features">
                    <ul>
                        <li>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
                        <li>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
                        <li>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
                      </ul>
                      <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      <button type="button" class="btn btn-warning w-100">Warning</button>
                      <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <img src="./../../../assets/100-return-accepted.gif" alt="" style="width:100px">
                          </div>
                          <div class="col">
                             <img src="./../../../assets/100-return-accepted.gif" alt="" style="width:100px">
                          </div>
                          <div class="col">
                             <img src="./../../../assets/100-return-accepted.gif" alt="" style="width:100px">
                          </div>
                        </div>
                      </div>
                </mat-tab>
                <mat-tab label="Perks"> Perks</mat-tab>
              </mat-tab-group>
        </div>
    </div>
</div>